{% extends 'base.html' %}

{% block content %}
<h1>
    home
</h1>

{% for product in products.all %}

<div class="row pt-3">
<div class="col-2" onclick="window.location='{% url 'detailurl' product.id %}';" style="cursor: pointer;">
        <img src="{{product.icon.url}}"class="img-fluid" alt="">
    </div>
    <div class="col-6" onclick="window.location='{% url 'detailurl' product.id %}';" style="cursor: pointer;">
        <h1>{{product.title}}</h1>
        <p>{{product.body}}</p> 
    </div>
    <div class="col-4">
        <a href="javascript:{document.getElementById('upvoteid{{product.id}}').submit()}"><button class="btn btn-primary btn-lg btn-block">Upvote {{product.votes_total}}</button></a>
        
    </div>
</div>

<form id="upvoteid{{product.id}}" method="POST" action="{% url 'upvoteurl' product.id %}">
    {% csrf_token %}
    <input type="hidden" >
</form>

{% endfor %}

{% endblock %}